<!-- PANEL -->
<div class="panel open">



  <!-- tabs -->
  <ul class="nav nav-tabs" role="tablist">

    <!-- toggle -->
    <div class="panel-toggle">
      <button>&times;</button>
    </div>

    <li class="nav-item">
      <a class="nav-link active" href="#chat" role="tab" data-toggle="tab">Chat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#profile" role="tab" data-toggle="tab">About Seller</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div id="chat" role="tabpanel" class="tab-pane fade show active">
      <div class="messages">
        <p><strong>Welcome to Chat</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, error?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem obcaecati similique provident, quibusdam rem neque nobis quia veritatis sit nostrum, error vel eum voluptatem. Similique corrupti sint, necessitatibus delectus architecto!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nemo distinctio voluptates sed amet eum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto debitis quisquam nostrum doloremque vero. Commodi sequi magni dicta laborum! Doloribus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
        <p>Lorem ipsum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam.</p>
      </div>
      <div class="input">
        <input type="text"></input>
      </div>
    </div>

    <div id="profile" role="tabpanel" class="tab-pane fade">
      <h4>About Seller</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis culpa libero eaque ipsam qui eveniet, sapiente officiis in numquam atque.</p>
    </div>

  </div>
</div>


<!-- MAIN -->
<div id="main">
  <section class="theater">
    <div id="stream">
      <%= image_tag 'http://i.imgur.com/WZ57Tw7.jpg', class: 'fake-video' %>
    </div>
  </section>
  <section class="products">
    <h2>Products in this stream</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem asperiores eos harum, distinctio adipisci, suscipit laudantium expedita! Architecto consequatur, repellendus, sapiente dolores, illum numquam quisquam facilis itaque obcaecati, adipisci est omnis. Quidem necessitatibus fugit, minima voluptates hic, maiores quo autem similique ea suscipit optio iste amet numquam nihil sit asperiores.</p>
  </section>
  <section class="products">
    <h2>Other popular products by seller</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis numquam sapiente vitae voluptate obcaecati, dolores iste, modi nobis illo deserunt officia asperiores deleniti. Et earum est quasi ea repudiandae aliquam dolor dolorum, ullam quo, impedit quod deleniti iure modi, sit in sunt asperiores dolorem deserunt. Dicta nemo non, fugit vitae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis numquam sapiente vitae voluptate obcaecati, dolores iste, modi nobis illo deserunt officia asperiores deleniti. Et earum est quasi ea repudiandae aliquam dolor dolorum, ullam quo, impedit quod deleniti iure modi, sit in sunt asperiores dolorem deserunt. Dicta nemo non, fugit vitae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis numquam sapiente vitae voluptate obcaecati, dolores iste, modi nobis illo deserunt officia asperiores deleniti. Et earum est quasi ea repudiandae aliquam dolor dolorum, ullam quo, impedit quod deleniti iure modi, sit in sunt asperiores dolorem deserunt. Dicta nemo non, fugit vitae.</p>
  </section>

</div>
