/* Coolors Exported Palette - coolors.co/317030-def4c6-779fa1-b3e580-00a555 */

$brand: #0F9E50;
$light_gray: #f7f7f7;
$dark_gray: #333333;

/* RGB */
$color1: rgba(49,112,48,1);
$color2: rgba(222,244,198,1);
$color3: rgba(119,159,161,1);
$color4: rgba(179,229,128,1);
$color5: rgba(0,165,85,1);
